@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div>
    <div hidden id="carouselExampleSlidesOnly" class="carousel slide home" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/Images/pic1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/Images/pic2.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-primary " asp-area="" asp-controller="AddSports" asp-action="Index">Sports</a>
        <a class="btn btn-primary " asp-area="" asp-controller="AddSpots" asp-action="Index">AddSpots</a>
        <a class="btn btn-primary " asp-area="" asp-controller="venuee" asp-action="Index">venue</a>
        <a class="btn btn-primary " asp-area="" asp-controller="AddTime" asp-action="Index">AddTime </a>
        <a class="btn btn-primary " asp-area="" asp-controller="booking" asp-action="Index">booking</a>
        <a class="btn btn-primary " asp-area="" asp-controller="AddProducts" asp-action="Index">Products</a>
        <a class="btn btn-primary " asp-area="" asp-controller="AddBooking1" asp-action="Index">book</a>


    </div>

</div>
<style>
    .home {
        width: fit-content;
        height: 250px;
    }
</style>
